{% trans_default_domain 'admin.table.actions' %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Удалить транспорт доставки #}
                {{ 'admin.form.header.new'|trans }}

            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body">
            {{ include('@UsersTable/admin/action/newedit/_form/pc/form.html.twig') }}
        </div>

        <div class="modal-footer">

            <div class="d-flex justify-content-between w-100 gap-3">
                <div>
                    <button type="button"
                            id="workingAddCollection"
                            class="btn btn-sm btn-outline-primary border-0 working-add-collection"
                            data-prototype="{{ include('@UsersTable/admin/action/newedit/_form/pc/working/_working.prototype.html.twig')|e('html_attr') }}"

                            data-collection="{{ form.working.vars.id }}-collection"
                            data-index="{{ form.working.count }}"
                            data-working="{{ form.working.vars.name }}"

                    >
						<span class="svg-icon svg-icon-2">
							<svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none">
								<rect opacity="0.5"
                                      x="11"
                                      y="18"
                                      width="12"
                                      height="2"
                                      rx="1"
                                      transform="rotate(-90 11 18)"
                                      fill="currentColor">
							</rect>
								<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
							</svg>
						</span>
                        Добавить еще этап производства
                    </button>
                </div>


                <div class="d-flex gap-3">
                    {# Отмена #}

                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        {{ 'btn.cancel'|trans({}, 'core.btn') }}
                    </button>

                    {# Удалить #}
                    {{ form_widget(form.users_table_actions, { label: '
				<span>'~ 'btn.new'|trans({}, 'core.btn') ~'</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			'}) }}
                </div>

            </div>


        </div>
    </div>
    {{ form_end(form) }}
</div>


<script nonce="{{ csp_nonce() }}" data-src="/assets/users_table/script.min.js?v={{ version }}" defer class="lazy"></script>

