{% trans_default_domain 'admin.table.actions' %}



{% if form.translate.count > 1 %}

    <ul class="nav nav-pills gap-3 mb-3" id="nav-{{ form.translate.vars.id }}" role="tablist">

        {% for translate in form.translate %}
            <li class="nav-item" role="presentation">

                <button class="btn fw-bolder nav-link{{ app.request.locale == translate.vars.value.local? ' active' : '' }}"
                        data-bs-toggle="tab"
                        type="button"
                        role="tab"
                        aria-selected="true"

                        id="nav-{{ form.translate.vars.id }}-{{ translate.vars.value.local }}-tab"
                        data-bs-target="#nav-{{ form.translate.vars.id }}-{{ translate.vars.value.local }}"
                        aria-controls="nav-{{ form.translate.vars.id }}-{{ translate.vars.value.local }}"
                >
                    <small class="text-uppercase px-3">{{ translate.vars.value.local.value|trans({}, 'core') }}</small>
                </button>


                {# <button class="btn nav-link fw-bolder active" id="pills-home-tab" data-bs-toggle="pill"
									data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
									aria-selected="true"><span class="text-uppercase px-3">Альтернатива</span></button> #}
            </li>

        {% endfor %}
    </ul>

{% endif %}

<div class="d-flex justify-content-between gap-3 align-items-end">


    <div class="mb-3">
        <button type="button"
                class="btn-outline-danger del-item-working border-0 btn"
                data-delete="item_{{ form.vars.id }}">
            <span class="svg-icon svg-icon-2 text-nowrap">
                <svg
                        xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <rect
                            opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1"
                            transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                    <rect x="8.46447"
                          y="7.05029"
                          width="12"
                          height="2" rx="1"
                          transform="rotate(45 8.46447 7.05029)"
                          fill="currentColor"></rect>
                </svg></span>
        </button>
    </div>


    {{ form_row(form.sort, { label : 'Сортировка' }) }}


    <div class="tab-content w-100" id="nav-{{ form.translate.vars.id }}Content">


        {% for translate in form.translate %}

            <div class="tab-pane fade{{ app.request.locale == translate.vars.value.local? ' show active' : '' }}"
                 role="tabpanel"
                 id="nav-{{ form.translate.vars.id }}-{{ translate.vars.value.local }}"
                 aria-labelledby="nav-{{ form.translate.vars.id }}-{{ translate.vars.value.local }}-tab"
            >

                {{ form_row(translate.local) }}

                {# Название способа оплаты #}
                {{ form_row(translate.name, { label : 'admin.form.label.working.trans.name'|trans, attr: { 'data-lang' : translate.vars.id ~ "_"~translate.vars.value.local  }  }) }}

            </div>
        {% endfor %}

    </div>
</div>